
<div class="navbarheader">
    <p style="margin: 14px;
    margin-left: 96px;">siddhartmishra@tcs.com</p>
    
    
</div>
<div class="navbar">
    <div class="logo" (mouseenter)="junctionMoved()">
        <span>Property</span><br><span>Junction</span>
    </div>
    <div class="content">
        <a href="http://">Home</a>
        <a href="http://">About</a>
        <a href="http://">Contact</a>
        <a href="http://">Works</a>
        <a href="http://">Projects</a>
        <a href="http://">Feedback</a>
    </div>
</div>